argos3-dev/build*
argos3-dev/install
argos3-dev/doc/api
argos3-dev/.emacs.desktop*
argos3-dev/.cproject
argos3-dev/.project
argos3-dev/CMakeCache.txt
argos3-dev/CMakeFiles/
argos3-dev/CPackConfig.cmake
argos3-dev/CPackSourceConfig.cmake
argos3-dev/Doxyfile
argos3-dev/Makefile
argos3-dev/argos.SlackBuild
argos3-dev/argos3
argos3-dev/argos3.conf
argos3-dev/argos3_simulator.pc
argos3-dev/cmake_install.cmake
argos3-dev/doinst.sh
argos3-dev/slack-desc
argos3-dev/TAGS
